:root{

--primary-red: #D94854;
--secondary-red: #F20505;
--primary-blue: #044A59;
--secondary-blue: #034C8C;
--light-grey: #e0e0e0;
--dark-grey: #333333;
--black: #000000;
--white: #FFFFFF;
--light-pink: #FFC2EC;

}